:root {
    --user-regex-block-opacity: 1.0;
    --spacer-block-opacity: 0.0;
    --bg-linear-grad-color: rgb(98 98 98 / 80%);
    --bg-linear-grad-color-faded: rgb(98 98 98 / 30%);
    --body-padding: 20px;
}

body {
    background: #111;
    color: #e9e9e9;
    /*padding: var(--body-padding) var(--body-padding);*/
    font-family: monospace;
    font-size: 10pt;
    user-zoom: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.regex-builder::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.regex-builder::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

.regex-builder::-webkit-scrollbar-thumb:vertical {
    background-color: #0A4C95;
}

.regex-builder {
    scrollbar-width: thin !important;          /* "auto" or "thin" */
    scrollbar-color: #9993 9993 !important;   /* scroll thumb and track */ 
}


  


  

#builder-container {
    width: 400px;
    height: 500px;
    position: relative;
    display: block;
}

.regex-builder {
    background: #111;
    width: auto;
    height: -webkit-fill-available;
    border-radius: 4px;
    border: 1px solid #777a;
    display: block;
    position: relative;
}

.toolbar-area {
    height: 42pt;
    background: linear-gradient(180deg, #66666669 calc(100% - 2pt), #777a calc(100% - 2pt));
    border-radius: 2px 2px 0px 0px;
    padding: 5pt;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
}
.editor-area {
    --editor-margin: 5pt;
    padding: calc(var(--editor-margin));
    /* border-radius: 0px 0px 8px 8px; */
    background: linear-gradient(180deg, #0000 calc(100% - 2pt), #777a calc(100% - 2pt));
    min-height: 50px;
    height: calc(100% - 26pt - 10pt - 20pt - 10pt - 42pt - 10pt - (2 * var(--editor-margin)));
    display: flex;
    top: 20%;
    flex-wrap: wrap;
    place-content: flex-start;
    max-height: 150px;
    overflow-y: scroll;
}
.output-area {
    height: calc(26pt + 0pt);
    background: #66666669;
    border-radius: 0px 0px 2px 2px;
    line-height: 26pt;
    padding: 5pt 10pt;
    font-size: 12pt;
    letter-spacing: 1px;
    /* margin-top: 10pt; */
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    /* position: absolute; */
    bottom: 0px;
    width: calc(100% - 20pt);
    display: block;
}
.testing-area {
    height: 20pt;
    padding: 5pt;
}
.testing-input {
    background: transparent;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: 1px solid grey;
    outline: none;
    color: #eee;
    padding: 0px 4pt;
    border-radius: 2pt;
    font-family: monospace;
    font-size: 12pt;
    line-height: 26pt;
    letter-spacing: 1px;
    height: 100%;
    width: calc(100% - 8pt);
}
.colored-regex-block-group {
    display: inline-block;
    border-radius: 2pt;
    height: 26pt;
    transition: all 0.15s ease-in-out;
    padding: 0px 0px;
    margin: 0px 0px;
    --udlColor: transparent;
    background: linear-gradient(0deg, transparent 2pt, var(--udlColor) 2pt, var(--udlColor) 3pt, transparent 3pt);
    background-repeat: no-repeat;
}
.colored-regex-block-group.highlighted {
    /* background: rgb(255 255 255 / 10%); */
    box-shadow: 0px 0px 0px 50pt #d5d5d540 inset;
}
.colored-regex-block-group.underline.good {
    --udlColor: #13c756;
}
.colored-regex-block-group.underline.bad {
    --udlColor: #db0a2d;
}
.regex-block .block-deleter {
    --angle: 45deg;
    height: 6pt;
    width: 6pt;
    position: absolute;
    float: right;
    top: 3pt;
    right: 3pt;
    opacity: 0;
    background: linear-gradient(var(--angle), transparent, transparent);
    -webkit-mask-box-image: url(https://cdn-icons-png.flaticon.com/32/3096/3096687.png);
    transition: all 0.15s ease-in-out;
}
.regex-block.highlighted .block-deleter {
    opacity: 1;
    --lgc1: #eee6;
    --lgc2: #eee6;
    background: linear-gradient(var(--angle), var(--lgc1), var(--lgc2));
}
.regex-block.highlighted .block-deleter:hover {
    --angle: -135deg;
    --lgc1: #eeec;
    --lgc2: #eeec;
    /* background: linear-gradient(var(--angle), #eeec, #eeec); */
}
.regex-block.highlighted .block-deleter[confirm] {
    --angle: 45deg;
    --lgc1: #eee;
    --lgc2: #fcfcfc;
    /* background: linear-gradient(var(--angle), #912e2e, #d42626); */
}

.regex-block:has(.block-deleter[confirm]) {
    background: #f334;
}

div.block-spacer-selector {
    display: inline-flex;
    position: relative;
    width: 10px;
    height: 44px;
    background: #8f8f8f63;
    border: 1px dashed dodgerblue;
    border-radius: 2px;
}.hidden {
    opacity: var(--spacer-block-opacity);
    user-select: none;
    border: none !important;
    border: 1px solid transparent !important;
}

div.regex-block {
    --block-bg-accent-color: #929292;
    --block-bg-color: #383838;
    --bg-top-split-height: 55%;
    width: 20%;
    min-width: min-content;
    height: auto;
    border-radius: 2px;
    margin: 2px;
    padding: 2px;
    display: inline-flex;
    position: relative;
    /* background: rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / calc(var(--block-bg-accent-color-a) / 255)); */
    text-align: center;
    overflow: hidden;
    user-select: none;
    opacity: var(--user-regex-block-opacity);
    transition: all 0.15s ease;
    box-shadow: inset 0px 0px 0px 0.5pt rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / 100%);
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.regex-block.highlighted {
    /*
    background:
        linear-gradient(
            45deg,
            rgba(calc(var(--block-bg-accent-color-r) * 1.1) calc(var(--block-bg-accent-color-g) * 1.1) calc(var(--block-bg-accent-color-b) * 1.1) / 50%) 0%,
            rgba(calc(var(--block-bg-accent-color-r) * 1.1) calc(var(--block-bg-accent-color-g) * 1.1) calc(var(--block-bg-accent-color-b) * 1.1) / 80%) 100%
        );
    */
    box-shadow: 0px 0px 0px 1px #e3e1d7bf inset;
    background: rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / 60%);
}

div.regex-block[no-value="true"] .block-content {
    pointer-events: none;
    opacity: 0;
}

div.regex-block.toolbar-block {
    height: auto;
    /* background: rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / 20%); */
    /* background-color: var(--block-bg-accent-color); */
    user-select: none;
    cursor: pointer;
    padding: 3pt;
    opacity: 1;
    display: inline-flex;
    min-width: 70px;
    max-width: 100px;
}
.regex-block.toolbar-block:hover {
    background: rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / 60%);
    /* box-shadow: inset 0px 0px 0px 0.5pt rgba(var(--block-bg-accent-color-r) var(--block-bg-accent-color-g) var(--block-bg-accent-color-b) / 100%); */
}
div.regex-block.toolbar-block .block-desc {
    color: #ddd;
    --desc-font-size: 9pt;
    font-size: var(--desc-font-size);
    line-height: var(--desc-font-size);
}

div.block-content {
    display: inline-flex;
    font-weight: 600;
    color: #ddd;
    font-size: 12pt;
    height: var(--bg-top-split-height);
    top: calc(10%);
    width: -webkit-fill-available;
    text-shadow: 0px 0px 3px #141414;
    /* border-radius: 3pt 3pt 0pt 0pt; */
    border-radius: 2px;
    padding: 0px 3pt 3pt;
    justify-content: left;
    background: #3337;
    text-wrap: nowrap;
    overflow: auto hidden;
    max-width: 50pt;
    text-align: left;
}
div.block-desc {
    --desc-font-size: 6pt;
    font-size: var(--desc-font-size);
    line-height: var(--desc-font-size);
    text-align: center;
    width: -webkit-fill-available;
    overflow: visible;
    bottom: 0pt;
    left: 0;
    display: inline-flex;
    color: #fff9;
    font-weight: 900;
    margin-top: 1pt;
    justify-content: center;
}